[build-system]
requires = ["setuptools >= 30.3.0", "wheel", "versioneer[toml]==0.29"]
build-backend = "setuptools.build_meta"

[project]
name = "dynamax"
dynamic = ["version"]
requires-python = ">= 3.10"
dependencies = [
    "jax",
    "jaxlib",
    "tfp-nightly",
    "fastprogress",
    "optax",
    "scikit-learn",
    "jaxtyping",
    "typing-extensions",
    "numpy",
    "dynamax",
]


[project.urls]
homepage = "https://github.com/probml/dynamax"
documentation = "https://probml.github.io/dynamax/"
repository = "https://github.com/probml/dynamax"

[project.optional-dependencies]
notebooks = [
    "matplotlib",
    "seaborn",
    "flax",
    "blackjax",
    "graphviz",
    "scipy"
]

doc = [
    "matplotlib",
    "seaborn",
    "flax",
    "blackjax",
    "graphviz",
    "scipy",
    "sphinx",
    "sphinx-autobuild",
    "sphinx_autodoc_typehints",
    "sphinx-math-dollar",
    "myst-nb",
    "jupytext",
    "sphinx-book-theme"
]

test = [
    "codecov",
    "coverage",
    "pytest>=3.9",
    "pytest-cov",
    "interrogate>=1.5.0"
]

dev = [
    "matplotlib",
    "seaborn",
    "flax",
    "blackjax",
    "graphviz",
    "scipy",
    "sphinx",
    "sphinx-autobuild",
    "sphinx_autodoc_typehints",
    "sphinx-math-dollar",
    "myst-nb",
    "jupytext",
    "sphinx-book-theme",
    "codecov",
    "coverage",
    "pytest>=3.9",
    "pytest-cov",
    "interrogate>=1.5.0"
]

[tool.setuptools.packages.find]
exclude = ["logo", "docs"] 


[tool.versioneer]
VCS = "git"
style = "pep440-pre"
versionfile_source = "dynamax/_version.py"
versionfile_build = "dynamax/_version.py"
tag_prefix = ""
parentdir_prefix = ""

[tool.black]
line-length = 120

[tool.interrogate]
ignore-init-method = true
ignore-init-module = true
fail-under = 66
verbose = 2
quiet = false
color = true

[tool.ruff.lint]
ignore = ["F722"]
